<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <img alt="Brand" src="../favicon.ico">
      </a>
    </div>
     <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
          <li routerLinkActive="active current"><a routerLink="/face">Face</a></li> 
         <!-- <li routerLinkActive="active current"><a routerLink="/upload">Upload</a></li> -->
         <li><a href="">Computer vision</a></li>
       </ul>
     </div>
  </div>
</nav>