<input type="file" (change)="fileChange($event)" placeholder="Upload File..." class="btn btn-primary" />
<div class="media" *ngFor="let photo of photos">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ baseUrl + photo.url }}" height="100" width="100" alt="hoto.name">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ photo.name }}</h4>
    <p> Size: <span class="label label-default">{{  photo.size }} :KB</span> </p>
    <p>
      <button class="btn btn-danger" (click)="delete(photo)">Delete</button>
      <button class="btn btn-success" (click)="recognize(photo)">Recognize</button>
    </p>
    <div *ngIf="photo.isRecognized">
      <p> Gender: <span class="label label-default"> {{ photo?.aiAtributes?.gender }}</span> Age: <span class="label label-primary"> {{ photo?.aiAtributes?.aproxAge }}</span>
      </p>
    </div>
  </div>
</div>
<div>
